 body {
            font-family: "lora-bold", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f4f4f9;
        }
        .upload-container {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(15, 134, 173);
            padding: 20px;
            text-align: center;
            color: bisque;
            justify-self:  center;
            border-radius: 8px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            width: 100%;
        }
        .dropbox{
            position: absolute;
            top: 100px;
            left: 0;
            justify-self:center;

            background-color: rgb(255,255,255);
            padding: 20px;
            width: 100%;
            color :black;
            border-radius: 8px;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            text-align:center

        }
        .upload-container input[type="file"] {
            margin-top: 10px;
        }
        .top-bar{

            background-color: rgb(15, 134, 173);
        }
